* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

*::selection {
  background-color: rgba(255, 255, 255, 0.3);
}

body {
  font-family: 'Noto Sans JP', serif;
  background: #eee;
  color: #fff;
  overflow-x: hidden;
  min-height: 100vh;
  line-height: 1.5;
  user-select: none;
}

a {
  color: #fff;
}

.dark-color {
  color: #333;
}

.fixed-button-common {
  position: fixed;
  top: 1rem;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  color: #eee;
  cursor: pointer;
  backdrop-filter: blur(4px);
  transition: all 0.3s;
  box-shadow: 0 2px 7px rgba(255, 255, 255, 0.1);
}

/* SenaComponent */
.container {
  position: relative;
  padding: 2rem;
  width: 1200px;
  max-width: 98vw;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 0;
}

/* SenaBackground */
#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.75;
  transition: opacity 1.5s;
  transform: translateZ(0);
  will-change: transform, opacity;
}


/* SenaTitle */
.title {
  text-align: center;
  margin: 2rem 0 0rem 0;
  font-family: 'Playfair Display', serif;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}

.title>*:first-child {
  font-size: 4.5rem;
  letter-spacing: 0.05em;
  font-style: italic;
}

.title>*:last-child {
  font-size: 1.5rem;
}

/* SenaQuotes */
.quote {
  font-size: 1.3rem;
  text-align: center;
  margin: 1.5rem auto;
  max-width: 800px;
  min-height: 60px;
  opacity: 0;
  transition: opacity 0.8s, transform 0.8s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.visible {
  opacity: 1;
}

/* SenaDetails */
.details {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.details>div {
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
}

.details>div:hover {
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
}

.details>:nth-child(1) {
  width: 180px;
}

.details>:nth-child(2) {
  width: 170px;
}

.details>:nth-child(3) {
  width: 130px;
}

.details>:nth-child(4) {
  width: 145px;
}

/* SenaTextBlock */
.text-block {
  background: rgba(0, 0, 0, 0.2);
  padding: 1.5rem 2.0rem;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  width: 1024px;
  margin: 0 auto;
  max-width: 100%;
}

.text-block:hover {
  box-shadow: 0 8px 18px rgba(255, 255, 255, 0.3);
}

.text-block>h2 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid rgba(44, 62, 80, 0.2);
  padding-bottom: 0.5rem;
}

.text-block>div {
  font-size: 1.1rem;
  text-align: justify;
}

/* SenaMessages */
.messages {
  user-select: text;
}

.messages:hover {
  cursor: pointer;
}

/* SenaSoundToggle */
#sound-toggle {
  right: 1rem;

}

#sound-toggle:hover {
  transform: scale(1.05);
  background: rgba(0, 0, 0, 0.4);
}

/* SenaModal */
.modal-open {
  left: 1rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}

.modal.visible {
  display: flex;
}

.modal-content {
  position: fixed;
  top: 10vh;
  background: rgba(0, 0, 0, 0.2);
  padding: 1.5rem 2.0rem;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
  max-width: 95%;
  width: 600px;
  text-align: center;
}

.modal-content input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #111;
  background-color: #333;
  width: 80%;
  max-width: 400px;
}

.modal-content div {
  display: flex;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  max-width: 400px;
}

.modal-content button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #111;
}

.modal-content label {
  display: block;
  margin: 0.5rem 0;
}

/* Media Queries */
@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .text-block {
    padding: 1.5rem;
  }

  .text-block>div {
    word-break: break-all;
    font-size: 0.9rem;
  }

  .content {
    gap: 2rem;
  }
}

/* Notification */
.notification {
  position: fixed;
  top: 4rem;
  right: 1rem;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  min-width: 220px;
  max-width: 300px;
  font-size: 0.95rem;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.notification.show {
  opacity: 1;
  transform: translateY(0);
}

.close-btn {
  float: right;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin-left: 0.5rem;
}